{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'shop/css/bootstrap.css' %}">
</head>
<body>
<h1>Вы действительно хотите удалить поставщика ({{ object.name }})?</h1>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-danger">Удалить поставщика</button>
</form>
<a href="{% url 'supplier_list' %}" class="btn btn-outline-dark">Список поставщиков</a>
</body>
</html>