{% extends 'base.html' %}

{% load custom %}

{% block title_name %}
    Пример тегов в Django
{% endblock %}

{% block content %}
    <h1>Пример тегов в Django</h1>
    <div>
        <h2>Экранирование вкл</h2>
        {% autoescape on %}
            {{ html_code }}
        {% endautoescape %}
        <h2>Экранирование выкл</h2>
        {% autoescape off %}
            {{ html_code }}
        {% endautoescape %}
    </div>

    <div>
        <h2>Тут есть комментарий, но вы его не видите)</h2>
        <!-- Тут будет текст, который вы увидите -->
        {% comment %}
    Это комментарий
    для будущих программистов
    {% endcomment %}
    </div>

    <div>
        <h2>Перебор элементов или пустота</h2>
        <ul>
            {% for item in some_list %}
                <li>{{ item }}</li>
            {% empty %}
                <li>Список пуст или не существует</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2>Цикл</h2>
        <table class="table">
            <tbody>
            {% for item in some_list %}
                <tr class="table-{% cycle 'primary' 'secondary' 'success' %}">
                    <td>{{ item }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2>Спец. символы (скобочки)</h2>
        {% templatetag openblock %}
        {% templatetag closeblock %}
        {% templatetag openvariable %}
        {% templatetag closevariable %}
        {% templatetag openbrace %}
        {% templatetag closebrace %}
        {% templatetag opencomment %}
        {% templatetag closecomment %}
    </div>

    <div>
        <h2>Проверка на повторяемость</h2>
        <table class="table">
            <tbody>
            {% for item in some_list %}
                <tr class="table-{% cycle 'secondary' 'danger' 'success' %}">
                    {% ifchanged %}
                        <td>{{ item }}</td>
                    {% endifchanged %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2>Текущая дата (now)</h2>
        {% now 'DATETIME_FORMAT' %}
        {% now 'Сегодня D y' %}
    </div>

    <div>
        <h2>Автогенератор текста/слов
            1 - количество генераций
            2 - что генерируем (w - слова, p - абзацы, b - текст)
            3 - рандомность 1 абзаца</h2>
        {% lorem 5 p %}
    </div>

    <div>
        <h2>Отладочная информация</h2>
        {% debug %}
    </div>

    <div>
        <h2>Собственные тэги</h2>
        <h3>multiply:</h3>
        {% multiply 5 10 %}
        {% multiply 2 4 %}
        <h3>hello_user:</h3>
        {% hello_user user %}
    </div>


{% endblock %}